<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h3>
    Welcome to {{ title }}!
  </h3>
  <h6 *ngIf="timedSegments[timedSegments.length -1]">
    {{timedSegments.length}} (last viewed) {{timedSegments[timedSegments.length -1].topic}}
  </h6>
<!--
 <ul>
    <li *ngFor="let timedSegment of timedSegments">
		<p>{{timedSegment.user}} - {{timedSegment.topic}} ({{timedSegment.quantity}})</p>
    </li>
</ul>
-->
</div>
<router-outlet></router-outlet>
